#click1{
   display: none;
}
.svg-menu{
   width: 24px;
   height: 25px;
   color: #000;
}



/*  */
@media screen and (max-width:1220px) {
   .navigation li a {
      text-decoration: none;
      color: var(--secondColor);
      font-size: 14px;
  }
  .button-download {
   width: 170px;
   height: 48px;}

}
@media screen and (max-width: 1200px){
   .Country-box,
   .Course-box,
   .Degree-box,
   .Duration-box,
   .Fees-box,
   .Intake-box{
       width: 150px;
   }


}
@media screen and (max-width: 1100px){
   .Country-box,
   .Course-box,
   .Degree-box,
   .Duration-box,
   .Fees-box,
   .Intake-box{
       width: 120px;
   }


}
@media screen and (max-width: 1000px){
   .Country-box,
   .Course-box,
   .Degree-box,
   .Duration-box,
   .Fees-box,
   .Intake-box{
       width: 100px;
   }


}
@media screen and (max-width:1080px) {
   header{
      padding: 0 50px;
   }
   .navigation li a {
      text-decoration: none;
      color: var(--secondColor);
      font-size: 13px;
  }


}
/* services */
@media screen and (max-width:1000px) {
   .button-signin ,
   .button-download{
      font-size: 13px;
   }
   .button-download{
      width: 150px;
   }
   .navigation {
      display: flex;
      gap: 25px;
      font-size: 13px;
  
  }
   main{
      margin: 0 40px;  
  }
  .footer-content{
   margin:0 40px;
   padding: 60px 0 30px 0;
}
  .footer-content-{
   margin:0 40px;}
   .main-main {
      gap: 17px;
      width: 100%;
  }
   .main-main > div {
      width: calc(50% - 17px); 
      box-sizing: border-box;
  }
  

}


/* mobile */
@media screen and (min-width: 940px) {
   .mobile-open{
      display:none;
   }
   header-1{
      display: none;
   }
}




@media screen and (max-width: 940px){
   header {
     display: none;
   }
   header-1 {
      width: 100%;
      height: 56px;
      top: 0;
      background-color: #fff;
      z-index: 11;
      position: sticky;
  }
  
  .mobile-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 11px 40px;
      background-color: #fff;
      z-index: 99999;
  }
  
  .mobile-open {
      float: right;
      cursor: pointer;
  }
  
  #click1:checked ~ .mobile-nav-down{
      left: 0%;
  }
  
  #click1:checked ~ .mobile-open .open-icon {
      display: none;
  }
 #click1:checked~.mobile-open #menu-icon{
   display: none;
 }
  
 .mobile-open #close-icon{
   display: none;
 }
 #click1:checked~.mobile-open #close-icon{
   display: block;
 }
  .mobile-nav-down {
      width: 100%;
      height: 50vh;
      position: fixed;
      left: -100%;  
      right: 0;
      background-color: #0000007d;
      backdrop-filter: blur(15px);
      z-index: 5;
      top: 53px;
      transition: all 0.6s ease;
      display: flex;
      justify-content: start;
      flex-direction: column;
      gap: 40px;
      font-size: 20px;
      padding-top: 40px;


  }
  .active{
   font-size: 23px !important;
   text-shadow: 1px 1px 15px var(--primaryColor) !important;
  }
  .navigation li a{
   font-size: 20px;
   opacity: 1;
   color: var(---thirdColor);
   font-weight: 800;
   text-shadow: 1px 1px 15px var(---thirdColor);
  }
  .before{
   font-size: 20px;
  }
  .dropdown-child{
   width: max-content;
   height: auto;
   display: none;
   position: absolute;
top:-100px;
left: 100px;
   background-color: #fff;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   z-index: 999;
  }

   .navigation{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
   }
.search_bar{
   /* margin-top: 50px; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
.button-signin {
   width: 198px;
   height: 48px;
   background-color: var(--primaryColor);
   color: #fff;
   border-radius: 100px;
   border: none;
   cursor: pointer;
   transition: all 0.3s ease;
}
.button-download {
   width: 198px;
   height: 48px;
   border: 1px solid var(---thirdColor);
   border-radius: 100px;
   color: var(---thirdColor);
   align-items: center;
   display: flex;
   gap: 25px;
   justify-content: center;
   cursor: pointer;
   font-size: 16px;
   background-color: transparent;
   transition: all 0.3s ease;

}

}

@media screen and (max-width: 868px){
   .hero h1{
       font-size: 28px;
   }
   .hero p{
       font-size: 15px;
   }
}
/* 768 */

@media screen and (max-width: 768px){
   .hero {
       height: 400px;}
   .page{
      flex-direction: column;
      gap: 20px;
      align-items: start;
   
   }
   .page>p{
      opacity: 0.8;
      font-size: 14px;
   }
   .right-page-flex- li:nth-child(1){
      list-style: none;
      padding: 0 10px 0 0;

  }
   footer{
      height: max-content;
   }
   .footer-content-flex{
   flex-direction: column;
  }
  .footer-links{
   flex-direction: column;
   gap: 20px;
  }
  .links{
   justify-content: space-between;
  }
  .social-icons{
   flex-direction: row;
   justify-content: space-between;
  }
  .social-footer{
   width: 135px;
   height: 40px;
  }
  .footer-content-{
   flex-direction: column-reverse;
   align-items: start;
   gap: 15px;
  }
  .footer-content- p{
   font-size: 12px;
  }
  .social-media a:first-child {
   padding: 0 15px 0 0;
}

}
@media screen and (max-width: 710px){
   .hero h1{
       font-size: 25px;
   }
   .hero p{
       font-size: 14px;
   }
}

/* 668 */
@media screen and (min-width: 668px){
   .main-box-mobile{
       display: none;
   }


   .lol-none{
       display: none;
   }
   .Apply-filter-main{
       display: none;
   }
}
@media screen and (max-width: 668px){
   .hero {
      height: 320px;}
.main-box{
   display: none;
}
.Apply-filter-main{
   cursor: pointer;
}
.main-box-mobile{
   width: 100%;
   height: 140px;
   background-color: #fff;
   box-shadow: 3px 3px 10px #000;
   display: flex;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   justify-content: space-between;
   padding: 15px;
   transform: translateY(-50%);
   flex-direction: column;
   z-index: 9999999999;
}
#Apply-search{
   display: none;
}
.Apply-search{
   cursor: pointer;
}
.row-box1{
   display: flex;
   flex-direction: column;
   gap:  7px;
}
.Country-box,
.Course-box,
.Degree-box,
.Duration-box,
.Fees-box,
.Intake-box{
   width: 170px;
   z-index: 9999999999999999;
}
.text-aligh{
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
#Apply-search:checked ~ .row-box2{
   left: 0;
}
.result-show-box{
   z-index: -1;
   pointer-events: none;
}

.row-box2{
   width: 80%;
   position: fixed;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   place-items: center;
   top: 140px;
   background-color: #fff;
   /* backdrop-filter: blur(10px); */
   z-index: 10000000000000000;
   left: -1000%;
   transition: all 0.3s ease;
   transform: translateX(30px);

}
.search-button{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   grid-column: 1 / span 2;
}

.lol-mobile-none{
   display: none;
}
   .main-main {
      width: 100%;
      justify-content: center;
  }
   .main-main > div {
      width: calc(99%); 
      box-sizing: border-box;
      align-self: center;
      align-items: center;
  }
  .result-show-box{
   margin-bottom: -20px;
  }
.Sortby{
   font-size: 12px;
}
.result-show-flex>h3{
   font-size: 14px;
}
  .mobile-none{
   display: none;
  }
}

@media screen and (max-width: 600px){
   .hero h1{
       font-size: 22px;
       text-align: start;
   }
   .hero p{
       font-size: 14px;
       text-align: start;
       transform: translateX(-50%);
       width: 100%;
   }
}
@media screen and (max-width: 520px){
   .hero h1{
      margin-top: -50px;
       font-size: 22px;
       text-align: start;
   }
   .hero p{
       padding-top: 25px;
       font-size: 14px;
       text-align: start;
       transform: translateX(-50%);
       width: 100%;
   }
}
@media screen and (max-width: 440px){
   .collage-name >h3{
       font-size: 14px;
   }
   .collage-name>p{
       font-size: 13px;
   }
}
@media screen and (max-width: 385px){
   .collage-name >h3{
       font-size: 11px;
   }
   .collage-name>p{
       font-size: 11px;
   }
   .collage-font {
       font-size: 11px;
   }
   .collage-p {
       font-size: 12px;
       line-height: 20px;
       opacity: 0.7;
   }
   .Logo-and-lineup {
       padding: 9px;
   }
   .right-page-flex{
       flex-wrap: wrap;
   }
   .right-page-flex- {
       flex-wrap: wrap;
   }
}