@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #0F32B1;
    --secondColor: #60677F;
    ---thirdColor: #FF785A;
    --lineColor: #D1D3DC;
}
::selection {
    background: var(---thirdColor); 
    color: #ffffff;  
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 72px;
    font-family: 'Poppins', sans-serif;
}
hr{
    background-color: var(--lineColor);
    height: 1px;
}
nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo {
    width: 188px;
    height: 31px;
    cursor: pointer;
}

.navigation {
    display: flex;
    gap: 32px;
    font-size: 16px;

}

.navigation li {
    list-style: none;

}

.navigation li a {
    text-decoration: none;
    color: var(--secondColor);
    font-size: 16px;
}

.active {
    color: #0F32B1 !important;
    font-weight: 700;
}
.before{
    position: relative;
    transition: all 0.2s ease-in-out;
}
.before1{
    position: relative;
    transition: all 0.2s ease-in-out;
}
.before:hover{
    color: var(---thirdColor);
}
.before::before{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    top: 100%;
    left: 0;
    background-color: var(---thirdColor);
    transform: translateY(-50%);
    transition: all 0.2s ease;

}
.before:hover::before{
    width: 100%;
}
.before1::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    top: 70%;
    right: 33%;
    background-color: var(---thirdColor);
    transform: translateY(-50%);
    transition: all 0.2s ease;

}
.before1:hover::before{
    width: 40%;
}

.dropdown-parent {
    display: inline-block;
    position: relative;
}

.dropdown-parent:hover .dropdown-child {
    display: block;
    
}

.dropdown-child {
    width: 200px;
    height: auto;
    display: none;
    position: absolute;
    top: 100%;
    left: -40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.dropdown-child li {
    list-style: none;
    padding: 14px 16px;
    border-bottom: 1px solid #000;
}

.dropdown-child a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

.dropdown-child a:hover {
    color: var(---thirdColor);
}

/*  */
.search_bar {
    display: flex;
    gap: 10px;
}

.button-signin {
    width: 100px;
    height: 48px;
    background-color: var(--primaryColor);
    color: #fff;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button-signin:hover{
    border: 1px solid var(---thirdColor);
    border-radius: 100px;
    color: var(---thirdColor);
    color: #000;
    background-color: transparent;

}
.button-download {
    width: 198px;
    height: 48px;
    border: 1px solid var(---thirdColor);
    border-radius: 100px;
    color: var(---thirdColor);
    align-items: center;
    display: flex;
    gap: 25px;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    transition: all 0.3s ease;

}
.button-download:hover{
    background-color: var(--primaryColor);
    color: #000;
    border: none;
}
.button-download:hover span{
    color: #000;
}
span {
    color: var(--primaryColor);
    font-size: 26px;
    /* padding-left: 20px; */
}

.eee {
    align-items: center;
    display: grid;
    grid-template-columns: 20% 80%;
}

/*  */
.hero {
    position: relative;
    height: 420px;
    width: 100%;
    background: url(Images/BG-OVERLAY.png) no-repeat center center/cover;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    filter: brightness(0.5); 
}


.hero h1,
.hero p {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero h1 {

    width: 873px;
    font-size: 32px;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: -2px;
    line-height: 40px;
    max-width: 100%;
    top: 25%;
}

.hero p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    top: 40%;
}

/* another section */
main{
    margin: 0 72px;
    font-family: 'Noto Sans', sans-serif;

}
.main-box{
    width: 100%;
    height: 184px;
    background-color: #fff;
    box-shadow: 3px 3px 10px #000;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: space-between;
    /* gap: 24px; */
    padding: 24px;
    transform: translateY(-50%);
    flex-direction: column;
    z-index: 9;
}
/* first row of search */
.search-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}
.first-search {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 100px;
    width: 100%;
    height: 56px;
    border: 1px #D1D3DC solid;

}
.search-icon{
width: 24px;
height: 24px;
margin-left: 20px;
}
.search-button{
    background-color: var(--primaryColor);
    width: 131px;
    height: 56px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}
.search-button:hover{
    border: 1px solid var(---thirdColor);
    border-radius: 100px;
    color: var(---thirdColor);
    color: #000;
    background-color: transparent;

}
.Search-input{
    width:90%;
    border: none;
    height: 90%;
    background: transparent;
    font-size: 14px;
}
.Search-input:focus{
    outline:none;
}

/* row box 2 */
.row-box2{
    display: flex;
    gap: 8px;
    justify-content: space-between;
}
.Country-box{
    width: 176px;
    height: 48px;
    border-radius: 8px;
    border: 1px #D1D3DC solid;
    background: transparent;
    cursor: pointer;

    
    }
    .Course-box{
        width: 176px;
        height: 48px;
        border-radius: 8px;
        border: 1px #D1D3DC solid;
        background: transparent;
        cursor: pointer;

    }
    .Degree-box{
        width: 176px;
    height: 48px;
    border-radius: 8px;
    border: 1px #D1D3DC solid;
    background: transparent;
    cursor: pointer;

    }
    .Duration-box{
        width: 173px;
        height: 48px;
        border-radius: 8px;
        border: 1px #D1D3DC solid;
        background: transparent;
        cursor: pointer;

    }
    .Fees-box{
        width: 176px;
        height: 48px;
        border-radius: 8px;
        border: 1px #D1D3DC solid;
        background: transparent;
        cursor: pointer;

    }
    .Intake-box{
        width: 176px;
        height: 48px;
        border-radius: 8px;
        border: 1px #D1D3DC solid;
        background: transparent;
        cursor: pointer;

    }
    .selectorbox{
        width: 80%;
        height: 100%;
        border-radius: 8px;
        background: transparent;
        border: none;
        margin-left: 20px;
        cursor: pointer;

    
    }
    .selectorbox:focus{
        outline: none;
    }

        /* down content result */
        .result-show-box{
            width: 100%;
            height: 52px;
            transform: translateY(-30px);
        }
        .result-show-flex{
            display: flex;
            justify-content: space-between;
        }
        .result-show-hr{
            margin-top: 30px;
        }
        .Sortby{
            font-size: 16px;
        }
        .Result-selector{
            width: 177px;
            height: 40px;
            font-size: 16px;
            border-radius: 8px;
            border: 1px solid #D1D3DC;
            background: transparent;
            line-height: 24px;
            font-weight: 500;
            word-spacing: 4px;
            cursor: pointer;
        }
        .Result-selector:focus{
            outline: none;
        }

          /* grid column start here */
    /* .main-main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:34px;
        margin-top: 20px;
    } */
    .main-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* align-items: center; */
        gap: 34px;
        width: 100%;
    }
    
    .main-main > div {
        width: calc(33.33% - 34px); 
        box-sizing: border-box;
    }
    

    .result-box{
        width: 95%;
        height: auto;
        border-radius: 12px;
        border: 1px solid #D1D3DC;
        background: transparent;
        cursor: pointer;
        /* box-shadow: 2px 2px 10px #000; */
    }
    .result-box:hover{
        border: 1px solid var(---thirdColor);
    }
    /* line up and logo */
    .Logo-and-lineup{
        display: flex;
        align-items: center;
        padding: 16px;
        gap: 20px;
    }

    .college-logo{
        width: 72px;
        height: 72px;
        border-radius: 50%;
        border: 1px #D1D3DC solid;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .collage-name{
        flex: 3;
    }
    .collage-name1{
        font-size: 16px;
        
    }
.love-path{
    justify-self: end;
    top: 0;
    /* margin-left: 70px; */
}
.heart-2 {
    width: 31px;
    height: 56.35px;
    background: #000;
    clip-path: path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181");
    transition: background 0.3s ease;
    cursor: pointer; 

  }
  .heart-3{
    width: 31px;
    height: 56.35px;
    clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944");
    background: red;
    transition: background 0.3s ease;
    cursor: pointer; 

  }
  .heart-2.clicked {
    clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944");
    background: red;
    cursor: pointer;}
    .main-content{
        padding:0 20px;
        padding-top: 20px;
    }
    .collage-font{
        font-size: 14px;
    }
    .collage-p{
        font-size: 14px;
        line-height: 20px;
        opacity: 0.7;
    }
    .bold{
        font-weight: bold;
    }
    table {
        border-spacing:20px; 
        border-collapse: separate;
      }
    /* page flex start */
    .page{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .right-page-flex-{
        display: flex;
        /* padding: 0 30px; */

    }
    .right-page-flex- li{
        list-style: none;
        padding: 0 10px;

    }
    .right-page-flex- li a{
        text-decoration: none;
        color: #000;
    }
    .primary-color{
        color: var(--primaryColor) !important;
    }
    .box-with-circle{
        width: 32px;
        height: 32px;
        background-color: var(--primaryColor);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        text-align: center;
        transform: translateY(-5px);
    }
    .box-with-circle a{
        color: #fff;
    }
    .be-white-please{
        color: #fff!important;
    }

    /* footter is here lol */
    footer{
        color: #fff;
        width: 100%;
        height: 392px;
        background-color: #061447;
    }
    .footer-content{
        margin:0 72px;
        padding: 60px 0 30px 0;
    }
.footer-content-flex{
        display: flex;
        justify-content: space-between;
    }
    .footer-logo{
        flex: 0.7;
    }
    .links{
        flex: 2;
        display: flex;
        justify-content: space-evenly;
    }
    .legal{
        /* margin-right: -20px; */
    }
    .footer-links{
        flex: 1.3;
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        text-align: start;
    }
    .footer-tex{
        /* padding: 10px 0; */
        line-height: 30px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    .footer-text-{
        padding: 30px 0;
        font-size: 16px;
        font-weight: 500;
        opacity: 0.8;
        line-height: 24px;
    }
    .footer-text{
        padding: 8px 0;
        font-size: 16px;
        font-weight: 500;
        opacity: 0.8;
        cursor: pointer;

    }
    .social-icons{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
.bx1{
    height: 24px;
    width: 24px;
    color: #fff;
}
.footer-content-{
    margin:0 72px;
    padding: 40px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media a{
    padding:0 15px ;
    
}
